@page
@model ReminderHandler.Pages.Reminders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reminder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.Favorite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.Favorite)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reminder.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
